# NiemaGraphGen executables
ngg_barabasi_albert
ngg_barabasi_albert_debug
ngg_barbell
ngg_barbell_debug
ngg_complete
ngg_complete_debug
ngg_empty
ngg_empty_debug
ngg_erdos_renyi
ngg_erdos_renyi_debug
ngg_path
ngg_path_debug

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
